@page
<html>
<head>
    <title>首页·一起帮</title>
</head>
<body>
    <img src="~/images/logo-big.jpg" width="48" height="48" />
    <p class="navbar-text pull-left">
        <span style="font-size:18px;font-weight:600">一起帮</span>
        <span class="visible-md-inline visible-lg-inline">·网络互助平台</span>

    </p>
    <p>
    <img src="~/images/求助.png" /><br/>
        <h1>一对一远程协助</h1>
        <h2>帮忙就要帮到底</h2>
        <h3>求助</h3>
    </p>
    <p>
    <img src="~/images/督促.png" /><br/>
        <h1>就让位来督促你</h1>
        <h2>押上你的决心</h2>
        <h3>督促</h3>
    </p>
    <p>
    <img src="~/images/文章.png" />
        <h1>发布之前先付费</h1>
        <h2>高质量内容的保证</h2>
        <h3>文章</h3>
    </p>


</body>
</html>
