@page
<html>
<head>
    <title>精品文章·一起帮</title>
</head>
<body>
    <img src="~/images/logo-big.jpg" />
    <p class="navbar-text pull-left">
        <span style="font-size:18px;font-weight:600">一起帮</span>
        <span class="visible-md-inline visible-lg-inline">·网络互助平台</span>

    </p>
    <article>
        <header>
            <nav>
                <ul>
                    <li>
                        <span>求助</span>
                        <ul>
                            <li>督导班</li>
                            <li>
                                <a href="http://17bang.ren/Log/On?prepage=%2fCourse%2fConfusion%2fNew&role=%e7%99%bb%e5%bd%95%e7%94%a8%e6%88%b7">
                                    疑问发布
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Course/Confusion">
                                    疑问列表
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Problem">
                                    列表
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Exam/FirstProblem">
                                    发布
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>督促</span>
                        <ul>
                            <li>
                                <a href="http://17bang.ren/Plan/New">
                                    求督促
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Plan">
                                    督促别人
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Plan">
                                    我的目标
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">
                                    我的督促
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Plan?due=false&expire=false&full=false&frozen=false&FilterKeyword=">
                                    未交作业
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>文章</span>
                        <ul>
                            <li>
                                <a href="http://17bang.ren/Article">
                                    列表
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Article">
                                    开通
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>APP下载</span>
                        <ul>
                            <li>
                                <a href="install-Android.apk">
                                    Android
                                </a>
                            </li>
                            <li>
                                <a href="install-iOS.ipa">
                                    ios
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>未登录</span>
                        <ul>
                            <li>
                                <a href="http://17bang.ren/Log/On">
                                    登录
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Register/Home">
                                    注册
                                </a>
                            </li>
                            <li>
                                <a href="http://17bang.ren/Password/Forget">
                                    忘记密码
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>
    </article>
    <p>2019年8月16日 17点43分</p>
    <h1>
        <a href="http://17bang.ren/Article/576">决定你IT路能走多远的那些因素：学历、英语和能力，还有运气……</a>
    </h1>
    <p>
        学历问的人最多，其实是最不重要的一个。有，当然更好；没有，也不是无法弥补各行各业都有学历歧视，但IT行业，
        相对来说是歧视最少的——因为IT他很“硬”：再高的学历，做不出来东西都是扯淡再低的学历，能干活就能领到工资当然，
        没有学历，必然要比有学历付出更多艰辛，甚至屈辱。英语被太多太多同学忽视。之前：编程=数据结构+算法现在：编程=google+英语英语能力，
        决定你能否：更快的入门（编程语言都是用英语书写）
        找到更多解决问题的渠道（英语+中文>中文）了解最前沿的技术
        （什么都等着翻译是不现实的，.NET开源之 ……
    </p>
    <div>
        <lable>
            "关键字："
        </lable>
        <span class="badge">编程</span>
        <span class="badge">学历</span>
        <span class="badge">英语</span>
        <span class="badge">运气</span>
    </div>
    <p>2019年8月15日 17点40分</p>
    <h1>
        <a href="http://17bang.ren/Article/575">学好编程要有“三勤”</a>
    </h1>
    <p>
        脑勤勤于思考，多问几个为什么辩证和独立手勤大胆假设，小心求证：我有一个idea，或者我有点拿不准那就试一试键盘敲烂，
        月薪过万一定要上手熟练度非常重要编程是一个手艺活对自己的代码狠一点口勤多问：
        不然你的线下学习就亏了哟，^_^多交流：同学之间，聊天多聊聊技术多表达：珍惜每天第四节课的模拟面试机会 ……
    </p>
    <div>
        <lable>
            "关键词："
        </lable>
        <span class="badge">编程</span>
        <span class="badge">学习</span>
        <span class="badge">方法</span>
        <span class="badge">技巧</span>
    </div>
    <p>2019年8月13日 20点02分</p>
    <h1>
        <a href="http://17bang.ren/Article/574">源栈培训：其他ASP.NET项目</a>
    </h1>
    <p>
        Web API 返回纯数据（JSON/XML/其他格式），而不是HTML页面推出背景：RESTful设计理念：
        无状态（http）和 资源（url）通过动词（verb）确定动作：Get/Post/Put/Delete……
        （问题：GET/POST就已经有些“无所谓”了，再添加PUT和DELETE，概念进一步混淆）和MVC最大的不同：
        route配置在：WebApiConfig.cs，注意：默认有action！根据Request的method，在ApiController的
        子类controller中找Action ……
    </p>
    <div>
        <lable>
            "关键词："
        </lable>
        <span class="badge">源栈培训</span>
        <span class="badge">ASP.NET</span>
    </div>
    <p>2019年08月12日 09点20分</p>
    <h1>
        <a href="http://17bang.ren/Article/573">源栈培训：C#进阶：ADO.NET</a>
    </h1>
    <p>
        在 Linq to SQL 面世之前，连接数据库的办法。是 EntityFramework 的底层实现工具。
        数据库连接using (SqlConnection connection = new SqlConnection(connectionString))
        { connection.Open(); //需要显式的Open()// Do work here. } 字符串Open()/Close()池
        SqlCommand command = new SqlCommand();SqlCommand ……
    </p>
    <div>
        <label>
            "关键词："
        </label>
        <span class="badge">源栈培训</span>
        <span class="badge">C#</span>
        <span class="badge">ADO.NET</span>
    </div>
    <nav>
        <ul class="pagination">
            <li class="active">
                <a id="1" href="http://17bang.ren/Article">1</a>
            </li>
            <li class="active">
                <a id="2" href="http://17bang.ren/Article/Page-2">2</a>
            </li>
            <li class="active">
                <a id="3" href="http://17bang.ren/Article/Page-3">3</a>

            </li>
        </ul>
    </nav>
    <div>
        <aside>
            <div>
                <span>关键字</span>
            </div>
            <div>
                <a href="http://17bang.ren/Problem?keyword=163">编程开发语言</a>
                <a href="http://17bang.ren/Problem?keyword=169">C#</a>
                <a href="http://17bang.ren/Problem?keyword=170">JAVA</a><br />
                <a href="http://17bang.ren/Problem?keyword=162">工具软件</a>
                <a href="http://17bang.ren/Problem?keyword=171">javascript</a>
                <a href="http://17bang.ren/Problem?keyword=164">顾问咨询</a><br />
                <a href="http://17bang.ren/Problem?keyword=199">html</a>
                <a href="http://17bang.ren/Problem?keyword=182">Visualstudio</a>
                <a href="http://17bang.ren/Problem?keyword=161">操作系统</a><br />
                <a href="http://17bang.ren/Problem?keyword=174">SQL</a>
                <a href="http://17bang.ren/Problem?keyword=184">职场</a>
                <a href="http://17bang.ren/Problem?keyword=188">法律</a><br />
                <a href="http://17bang.ren/Problem?keyword=173">Python</a>
                <a href="http://17bang.ren/Problem?keyword=89">.net</a>
                <a href="http://17bang.ren/Problem?keyword=200">css</a><br />
                <a href="http://17bang.ren/Problem?keyword=167">Linux</a>
            </div>
            <div>
                <div>
                    <input type="text" placeholder="直接输入关键字查找" />
                    <span class="input-group-addon">
                        查找
                    </span>
                    <span>换一批</span>
                </div>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="http://17bang.ren/Article#planscan">
                            每日督促
                        </a>
                        <table>
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td>
                                        2019年8月19日
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        共扫描目标
                                    </td>
                                    <td>
                                        1个
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        当天休息
                                    </td>
                                    <td>
                                        0人
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        已交作业
                                    </td>
                                    <td>
                                        0份
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        请假
                                    </td>
                                    <td>
                                        0人
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        未交作业
                                    </td>
                                    <td>
                                        1人
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <span>排行榜</span>
                        <table>
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        叶飞⑩
                                    </td>
                                    <td>
                                        359
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Saber⑦
                                    </td>
                                    <td>
                                        153
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        友人④
                                    </td>
                                    <td>
                                        66
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        sha②
                                    </td>
                                    <td>
                                        42
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        skyline②
                                    </td>
                                    <td>
                                        32
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        Tesla①
                                    </td>
                                    <td>
                                        10
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        有种等待叫在线①
                                    </td>
                                    <td>
                                        10
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8
                                    </td>
                                    <td>
                                        小屿①
                                    </td>
                                    <td>
                                        9
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </li>
                    <li>
                        <span>新注册</span><br />
                        <span>2019年8月20日 19点53分</span><br />
                        <a href="http://17bang.ren/User/4247">ywq001</a><br />
                        <span>2019年8月18日 14点41分别</span><br />
                        <a href="http://17bang.ren/User/4246">Tesla</a><br />
                        <span>2019年8月15日 17点59分</span><br />
                        <a href="http://17bang.ren/User/4245">有种等待叫在线</a><br />
                        <span>2019年8月15日 08点48分</span><br />
                        <a href="http://17bang.ren/User/4244">skyline</a><br />
                        <span>2019年8月13日 22点56分</span><br />
                        <a href="http://17bang.ren/User/4243">sha</a>
                    </li>
                </ul>
                <span><a href="http://17bang.ren/User/Index">更多</a></span>
            </div>
            <div>
                <div>
                    <span>1</span>
                    <a href="http://17bang.ren/Article/261">学编程，来“源栈”！飞哥精品小班等着你......</a>
                </div>
                <div>
                    <span>2</span>
                    <a href="http://17bang.ren/AdInWidget/_Free?position=2">免费广告位，抢到就是赚到！</a>
                </div>
                <div>
                    <span>3</span>
                    <a href="http://17bang.ren/AdInWidget/_Free?position=2">免费广告位，抢到就是赚到！</a>
                </div>
                <div>
                    <span>4</span>
                    <a href="http://17bang.ren/AdInWidget/_Free?position=2">免费广告位，抢到就是赚到！</a>
                </div>
                <div>
                    <span>5</span>
                    <a href="http://17bang.ren/AdInWidget/_Free?position=2">免费广告位，抢到就是赚到！</a>
                </div>
                <div>
                    <span>6</span>
                    <a href="http://www.west.cn/index.asp?ReferenceID=563969">本站主机由西部数码提供</a>
                </div>
            </div>
            <a href="http://17bang.ren/Contact/Us">帮助</a><br />
            <a href="http://17bang.ren/Suggest/New">反馈</a><br />
        </aside>
    </div>
    <footer>
        <div>
            <a href="http://17bang.ren/About/Us">关于我们</a>
            <a href="http://17bang.ren/FAQ">常见问题</a>
            <a href="http://17bang.ren/Suggest">意见建议</a>
            <a href="http://17bang.ren/Notice">历史通知</a>
            <a href="http://17bang.ren/Donate">友情捐赠</a>
            <a href="http://17bang.ren/About/Fund">融资2018</a>
        </div>
        <div>
            友情链接
        </div>
        <p>
            <a href="http://www.miitbeian.gov.cn/">渝ICP备18007191号（备案）</a>
            “2019 首顾科技”
        </p>
    </footer>
</body>
</html>