@page
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style type="text/css">
        table td{
            width:300px;
            height:200px;
            position:relative;
            z-index:1;
        }
        table{
            background:url(/images/背景.jpg);
        }
        img{
            z-index:2;
        }
    </style>
</head>
<body>
    <audio id="appear" src="~/audio/一下出现.wav"></audio>
    <audio id="beat" src="~/audio/敲打.wav"></audio>
    <audio id="bomb" src="~/audio/爆炸.mp3"></audio>
    <div class="container">

        <h1>打地鼠游戏</h1>
        <button type="button">开始游戏！</button>
        <h2>剩余时间：<span class="clock">60</span>秒</h2>
        <br />
        <table>
            <tr>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
            </tr>
            <tr>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
            </tr>
            <tr>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
                <td><img src="~/images/土堆.png" /></td>
            </tr>
        </table>
        <div>当前得分：<span> 0 </span>分</div>

    </div>
    <script type="text/javascript">
        var image = document.getElementsByTagName('img');
        var rank;
        var count = 0;
        var score = document.getElementsByTagName('span')[1];
        var timeClock;
        document.getElementsByTagName('button')[0].onclick = function begin() {
            countDown();
            setTimeout('arise()', document.getElementById('appear').play(), 2000);
            $('table').mouseover(function () {
                $(this).css({ cursor: "url(./images/pending.png)31 51,auto" })
            });
            $('table').click(function () {
                $(this).css({ cursor: "url(./images/hitted.png)31 51,auto" })
            });
        }
        function countDown() {
                var timer_num = 60;
                timeClock = setInterval(function () {
                    timer_num--;
                    $('.clock').html(timer_num);

                    if (timer_num == 0) {
                        clearInterval(timeClock);
                        
                        $('.clock').html(60);
                    }
                }, 1000)
            }
        //var gather = ('mine()', 'arise()');
        //function mine() {
        //    rank = Math.floor(Math.random() * 9);
        //    image[rank].src = "/images/地雷.png"
        //    image[rank].setAttribute('onclick', 'blast()');
        //    setTimeout('ran()', 2000);
        //}


        function arise() {
            rank = Math.floor(Math.random() * 9);
            var badMole = document.createElement('img');
            badMole.src = "/images/坏地鼠.png";
            badMole.style = "position:absolute;top:30px;left:54px;z-index:-1";
            image[rank].parentElement.appendChild(badMole);
            badMole.onclick = function () {
                die();
            }
            setTimeout('ran()', 2000);

        }
        function ran() {
            image[rank].parentElement.children[1].remove();
            image[rank].removeAttribute('onclick');
            setTimeout('arise()', 2000);
        }
        function die() {
            badMole.src = "/images/晕地鼠.png";
            image[rank].removeAttribute('onclick');
            document.getElementById('beat').play();
            count++;
            score.innerHTML = count;
        }
        //function blast() {
        //    image[rank].src = "/images/爆炸.png";
        //    image[rank].removeAttribute('onclick');
        //    document.getElementById('bomb').play();
        //    count--;
        //    score.innerHTML = count;
        //}

    </script>
</body>
</html>
