@page
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meat charset="utf-8"></meat>
   
    
    <title>用户登录·一起帮</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <style type="text/css">

      
        a {
            text-decoration: none
        }

            a:link {
                color: green;
            }

            a:visited {
                color: black;
            }

            a:hover {
                color: red;
            }

            a:active {
                color: blue;
            }

        .pass {
            color: #777;
        }

        .divcss5 span {
            font-style: normal;
        }
        /*让divcss5对象内的i标签才去掉斜体样式*/
        nav > ul > li {
            display: inline;
            float: left;
            margin: 15px;
        }

        nav > ul {
            position: relative;
            left: 900px;
            bottom: 70px;
        }

        li {
            list-style-type: square;
        }

        .user {
            position: relative;
            left: 900px;
            top: -180px;
        }

        .aed {
            position: relative;
            left: 600px;
            top: -75px;
        }

        .post {
            position: relative;
            left: 300px;
            top: 20px;
            color: #777;
        }

        .pat {
            position: relative;
            left: 700px;
            top: 100px;
        }
    </style>

</head>
<body>
    <div class="post ">
        <img src="~/images/logo-big.jpg" width="48" height="48" />

        <span style="font-size:18px;font-weight:600">一起帮</span>
        <span class="visible-md-inline visible-lg-inline">·网络互助平台</span>
    </div>
    <article>
        <nav>
            <ul>
                <li>
                    <span class="pass">求助</span>
                    <ul style="margin:1px">
                        <li class="pass">督导班</li>
                        <li>
                            <a href="http://17bang.ren/Log/On?prepage=%2fCourse%2fConfusion%2fNew&role=%e7%99%bb%e5%bd%95%e7%94%a8%e6%88%b7">
                                疑问发布
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Course/Confusion">
                                疑问列表
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Problem">
                                列表
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Exam/FirstProblem">
                                发布
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="pass">督促</span>
                    <ul style="margin:1px">
                        <li>
                            <a href="http://17bang.ren/Plan/New">
                                求督促
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Plan">
                                督促别人
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Plan">
                                我的目标
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">
                                我的督促
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Plan?due=false&expire=false&full=false&frozen=false&FilterKeyword=">
                                未交作业
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="pass">文章</span>
                    <ul style="margin:1px">
                        <li>
                            <a href="http://17bang.ren/Article">
                                列表
                            </a>
                        </li>
                        <li>
                            <a href="http://17bang.ren/Article">
                                开通
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="pass">APP下载</span>
                    <ul style="margin:1px">
                        <li>
                            <a href="install-Android.apk">
                                Android
                            </a>
                        </li>
                        <li>
                            <a href="install-iOS.ipa">
                                ios
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </article>
    <ul>
        <li>
            <span class="pass">未登录</span>
            <ul style="margin:1px">
                <li>
                    <a href="http://17bang.ren/Log/On">
                        登录
                    </a>
                </li>
                <li>
                    <a href="http://17bang.ren/Register/Home">
                        注册
                    </a>
                </li>
                <li>
                    <a href="http://17bang.ren/Password/Forget">
                        忘记密码
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <p class="pat">返回</p>

    <form style="clear:both; margin-TOP:200px; margin-left:300px;">
        <div>
            <label>用户名：（*必填）</label>
            <input data-val="true" date-val-length="*用户名的长度不能大于20"
                   data-val-length-max="20" data-val-remote="*用户名不存在"
                   id="UserName" name="UserNema" placeholder="不是昵称，是登录用户名" type="text">

        </div>
        <div>
            <label>密码：（*必填）</label>
            <input data-val="true" data-val-length="*密码长度不能小于4，大于20"
                   data-val-required="*密码不能为空" id="password" name="password"
                   placeholder="不少于4个字符" type="password" />
        </div>
        <div>
            <label>验证码：（*必填）</label>
            <input data-val="true" data-val-required="*验证码不能为空"
                   type="text" />
            <span>点击输入框显示</span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary loding" value="提交" zyf-submit-once />
            <label><input type="checkbox" name="remember" />记住我</label>

        </div>
        <div class="divcss5">
            <a href="http://17bang.ren/Password/Forget"><span>忘了</span></a>
            <a href="http://17bang.ren/Password/Forget"><span>注册</span></a>
        </div>
    </form>
    <div class="user" ;>
        <h1>说明</h1>
        <p>1.我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</p>
        <p>2.现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</p>
        <p>3.当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</p>
        <p>4.公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</p>
        <p>5.赶快加入我们，赚取帮帮币吧！</p>
    </div>
    <footer>
        <div class="container">
            <a href="http://17bang.ren/About/Us">关于我们</a>
            |
            <a href="http://17bang.ren/FAQ">常见问题</a>
            |
            <a href="http://17bang.ren/Suggest">意见建议</a>
            |
            <a href="http://17bang.ren/Notice">历史通知</a>
            |
            <a href="http://17bang.ren/Donate">友情捐赠</a>
            |
            <a href="http://17bang.ren/About/Fund">融资2018</a>
        </div>

        <p>友情链接</p>

        <p class="aed">
            <a href="http://www.miitbeian.gov.cn/">渝ICP备18007191号（备案）</a>
            2019 首顾科技
        </p>
    </footer>
</body>
</html>