@page
<!DOCTYPE html>
<html>
<head>
    <meat charset="utf-8"></meat>
    <title>用户登录·一起帮</title>
</head>
<body>

    <img src="~/images/logo-big.jpg" width="48" height="48" />
    <p class="navbar-text pull-left">
        <span style="font-size:18px;font-weight:600">一起帮</span>
        <span class="visible-md-inline visible-lg-inline">·网络互助平台</span>
        <article>
            <header>
                <nav>
                    <ul>
                        <li>
                            <span>求助</span>
                            <ul>
                                <li>督导班</li>
                                <li>
                                    <a href="http://17bang.ren/Log/On?prepage=%2fCourse%2fConfusion%2fNew&role=%e7%99%bb%e5%bd%95%e7%94%a8%e6%88%b7">
                                        疑问发布
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Course/Confusion">
                                        疑问列表
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Problem">
                                        列表
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Exam/FirstProblem">
                                        发布
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>督促</span>
                            <ul>
                                <li>
                                    <a href="http://17bang.ren/Plan/New">
                                        求督促
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Plan">
                                        督促别人
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Plan">
                                        我的目标
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Plan?my=s&full=False&due=False&expire=True&Frozen=False">
                                        我的督促
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Plan?due=false&expire=false&full=false&frozen=false&FilterKeyword=">
                                        未交作业
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>文章</span>
                            <ul>
                                <li>
                                    <a href="http://17bang.ren/Article">
                                        列表
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Article">
                                        开通
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>APP下载</span>
                            <ul>
                                <li>
                                    <a href="install-Android.apk">
                                        Android
                                    </a>
                                </li>
                                <li>
                                    <a href="install-iOS.ipa">
                                        ios
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>未登录</span>
                            <ul>
                                <li>
                                    <a href="http://17bang.ren/Log/On">
                                        登录
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Register/Home">
                                        注册
                                    </a>
                                </li>
                                <li>
                                    <a href="http://17bang.ren/Password/Forget">
                                        忘记密码
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </header>
        </article>
    <p>返回</p>
    <p>用户登录</p>
    <div class="form-group">
        <label>用户名：（*必填）</label>
        <input class="form-control" data-val="true" date-val-length="*用户名的长度不能大于20"
               data-val-length-max="20" data-val-remote="*用户名不存在"
               id="UserName" name="UserNema" placeholder="不是昵称，是登录用户名" type="text" value>

    </div>
    <div class="form-group">
        <label>密码：（*必填）</label>
        <input class="form control" data-val="true" data-val-length="*密码长度不能小于4，大于20"
               data-val-required="*密码不能为空" id="password" name="password"
               placeholder="不少于4个字符" type="password" />
    </div>
    <div class="form-group">
        <label>验证码：（*必填）</label>
        <input class="form-control" data-val="true" data-val-required="*验证码不能为空"
                type="text"  />
        <span zyf-image-code-reminder>点击输入框显示</span>
    </div>
    <div class=" submit">
        <input type="submit" class="btn btn-primary loding" value="提交" zyf-submit-once />
        <label><input type="checkbox" name="remember" />记住我</label>

    </div>
    <div>
        <a href="http://17bang.ren/Password/Forget"<span>忘了</span></a>
        <a href="http://17bang.ren/Password/Forget"<span>注册</span></a>
    </div>
    <div>
        <h1>说明</h1>
        <p>1.我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</p>
        <p>2.现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</p>
        <p>3.当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</p>
        <p>4.公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</p>
        <p>5.赶快加入我们，赚取帮帮币吧！</p>
    </div>
    <footer>
        <div>
            <a href="http://17bang.ren/About/Us">关于我们</a>
            <a href="http://17bang.ren/FAQ">常见问题</a>
            <a href="http://17bang.ren/Suggest">意见建议</a>
            <a href="http://17bang.ren/Notice">历史通知</a>
            <a href="http://17bang.ren/Donate">友情捐赠</a>
            <a href="http://17bang.ren/About/Fund">融资2018</a>
        </div>
        <div>
            友情链接
        </div>
        <p>
            <a href="http://www.miitbeian.gov.cn/">渝ICP备18007191号（备案）</a>
            “2019 首顾科技”
        </p>
    </footer>
</body>
</html>