@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>

</head>
<body>
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    a <br />
    <script type="text/javascript" src="~/js/homework9.16.js"></script>
</body>
</html>