@page
@model IndexModel

<datetime asp-showicon="true" asp-only="date">@DateTime.Now</datetime>

<div class="container body-content">
    <div class="container">
        <div class="row">
            <div id="chat-container" class="col-md-7"></div>
            <div class="col-md-5">
                <div id="ad-chats" ywq-scroll style="top:120px">
                    <h3>
                        “源栈”Web开发培训班
                        <br />
                        <span style="color:red">
                            <span class="glyphicon glyphicon-fire"></span>
                            火热
                        </span>
                        招生中
                    </h3>
                    <p>
                        线上：全程直播，
                        <b>免费</b>
                        收看
                    </p>
                    <p>
                        线下：
                        <b>灵活</b>
                        学制，拎包入住
                    </p>
                    <p>有意向的同学，可以加QQ群：326801052</p>
                    <img class="img-responsive center-block" src="~/images/qq-group.png" title="QQ学习群：326801052" />
                </div>
            </div>
        </div>
    </div>
    <a href="#" style="position: absolute;bottom:139px;right:320px;" class="feedback flag text-center">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <br />
        帮助
    </a>
    <a href="#" style="position: absolute;bottom:80px;right:320px;" class="feedback flag text-center">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <br />
        反馈
    </a>
    <hr />
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <footer>
        <div>
            <a href="#">关于我们</a>
            |
            <a href="#">常见问题</a>
            |
            <a href="#">意见建议</a>
            |
            <a href="#">历史通知</a>
            |
            <a href="#">友情捐赠</a>
            |
            <a href="#">融资2018</a>
        </div>
        <div>
            友情链接：
        </div>
        <p class="pull-right">
            <a href="#">渝ICP备18007191号（备案）</a>
            © 2019 - 首顾科技
        </p>
    </footer>
</div>

<span zyf-test></span>
<a zyf-star-red></a>
@*@section Ad{
    <p>线上免费收看</p>
}*@

<script>
    //document.getElementsByTagName("body")[0].onscroll = function () {
    //    var bodyScrollTop = document.getElementsByTagName("body")[0].scrollTop;
    //    console.log("滚动条下拉距离：" + bodyScrollTop);
    //    if (bodyScrollTop > 370) {
    //        document.getElementById("ad-chats").style.top = 120 - (bodyScrollTop - 370)
    //    } else {
    //        document.getElementById("ad-chats").style.top = 120
    //    }
    //}
    //$('#myModal').on('shown.bs.modal', function () {
    //    $('#myInput').focus()
    //})
    $('#myModal').modal('show')                      // 以默认值初始化
                                //$('#myModal').modal({ keyboard: false })   // initialized with no keyboard
                                //$('#myModal').modal('show')                // 初始化后立即调用 show 方法
</script>
<script type="text/javascript" src="~/js/homework9.26.js"></script>

