@page

    <html>
    <head>
        <tille>一起帮</tille>
    </head>
    <body>

        <h1>hello,world</h1>

        <a href="http://17bang.ren/"><img src="~/images/banner1.svg" width="300" height="350" /></a>


        <h2>常见问题</h2>
        <h3>账户</h3>
        <p>
            Q:邀请码是怎么一回事？<br />
            Q:为什么会提示“邀请人数达到上限”？<br />
            Q:系统如何是确定“最后(上次)登录时间”的？<br />
        </p>
        <table border="1">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>
                        社区活动
                    </td>
                    <td>
                        点数
                    </td>
                    <td>
                        备注
                    </td>
                </tr>
                <tr>
                    <td>
                        *账号相关
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        邀请注册
                        注册
                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        使用了别人的邀请码
                    </td>
                </tr>
                <tr>

                    <td>
                        10
                    </td>
                    <td>
                        别人使用了你的邀请码进行注册
                    </td>
                </tr>
                <tr>
                    <td>
                        激活Email
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        不是填写了Email就有点数，Email必须被验证激活
                    </td>
                </tr>
                <tr>
                    <td>
                        *求助相关
                    </td>
                </tr>
                <tr>
                    <td>
                        新人测试
                    </td>
                    <td>
                        0-30
                    </td>
                    <td>
                        按测试成绩给点数奖励，每题3点
                    </td>
                </tr>
                <tr>
                    <td>
                        首次求助
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        只能是第一次发布求助，并且审核通过，才能获得点数奖励
                    </td>
                </tr>
                <tr>
                    <td>
                        酬谢
                    </td>
                    <td>
                    </td>
                    <td>
                        “求助人”酬谢多少帮帮币 ，就能获得10倍点数奖励
                    </td>
                </tr>
                <tr>
                    <td>
                        获得.*
                    </td>
                    <td>
                    </td>
                    <td>
                        全额酬谢时，酬谢帮帮币枚数* (2 * 获得评价星级)，且5星好评翻番，问题没有解决不能获得点数奖励。
                    </td>

                </tr>
                <tr>
                    <td>
                        查看总结
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        只有注册用户才能查看
                    </td>
                </tr>
                <tr>
                    <td>
                        总结被查看
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        只有注册用户才能查看
                    </td>
                </tr>
                <tr>
                    <td>
                        评论总结
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        自己不能评论自己，同一用户同一总结只奖励一次
                    </td>
                </tr>
                <tr>
                    <td>
                        * 评价相关
                    </td>
                </tr>
                <tr>
                    <td>
                        赞/踩：总结文章意见建议及他们的评论

                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        无论点赞，还是 拍砖，评价一次就得1点（可多次点击）
                    </td>
                </tr>
                <tr>
                    <td>
                        总结文章意见建议及他们的评论被点赞
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        被点赞一次就得2点
                    </td>
                </tr>
                <tr>
                    <td>
                        文章评论被精选

                    </td>
                    <td>
                        10
                    </td>
                    <td>
                        由文章作者精选
                    </td>

                </tr>
                <tr>
                    <td>
                        * 督促
                    </td>
                </tr>
                <tr>
                    <td>
                        发布目标
                    </td>
                    <td>
                    </td>
                    <td>
                        同目标的未交作业惩罚数
                    </td>

                </tr>
                <tr>
                    <td>
                        加入目标
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        只要加入，就可以获得
                    </td>
                </tr>
                <tr>
                    <td>
                        交作业
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        只要交一次作业，求助人就可以获得
                    </td>
                </tr>
                <tr>
                    <td>
                        验收
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        好心人验收通过，给予好心人的帮帮点奖励。拒绝或质疑不能获得（拒绝有“帮帮币”补偿）
                    </td>
                </tr>
                <tr>
                    <td>
                        * 其他
                    </td>
                </tr>
                <tr>
                    <td>
                        意见建议
                    </td>
                    <td>
                    </td>
                    <td>
                        由管理员确定奖励点数
                    </td>
                </tr>
        </table>
        </tbody>
        <from>
            <label>
                
            </label>
        </from>


    </body>






    </html>