@page
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style type="text/css">
    </style>
</head>
<body style="padding-top:70px">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Index">
                    <img src="~/images/logo-big.png" alt="一起帮Logo" class="navbar-left" />
                </a>
                <p class="navbar-text navbar-left">
                    <span style="font-size:18px;font-weight:600;">一起帮</span>
                    <span class="visible-md-inline visible-lg-inline">·网络互助平台</span>
                </p>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">

                    <li>
                        <a class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true">求助</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">督导班</li>
                            <li>
                                <a href="#">
                                    疑问发布
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    疑问列表
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    列表
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    发布
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            督促
                            <span class="sr-only">(current)</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    求督促
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    督促别人
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    我的目标
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    我的督促
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            文章
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Contact">
                                    列表
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                            APP下载
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Android</a></li>
                            <li><a href="#">ios(越狱）</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            未登录
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">登录</a></li>
                            <li><a href="#">注册</a></li>
                            <li><a href="#">忘记密码</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container visible-lg visible-md">
        <div class="row">
            <div class="col-lg-8/10">
                <p class="bg-info">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    友人被授予文章自由发布权限
                    <a href="#" class="pull-right">
                        <span></span>
                        全部消息
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="dualcolums-container">
            <div class="page-header">
                <h2>
                    (｡ŏ_ŏ) 忘了
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <ul class="nav nav-tabs nav-justified">
                        <li>
                            <a href="#" data-toggle="tab" aria-expanded="true"  style="border:1px solid #8080802b;">
                                <span class="glyphicon glyphicon-lock"></span>
                                密码
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab" aria-expanded="false" style="border:1px dashed #8080802b;">
                                <span class="glyphicon glyphicon-user"></span>
                                用户名
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

