@page
<html>
<head>


    <script type="text/javascript"></script>

    <script src="~/js/homework.js"></script>
    <script src="~/js/homework9.9.js"></script>

</head>
<body>
    <p id="demo"></p>
    <script>
        //利用JavaScript计算出：[(23+7)x12-8]÷6的值
        // console.log([(23 + 7) * 12 - 8] / 6);

        //用循环，计算出2+4+6+8+...+100=?


        //var i = 0, j = 0;
        //while (j < 100) {
        //    j = j + 2;
        //    i = i + j;

        //}
        //console.log(i);

        
        //findPrime(50);

        //Swap([8, 5, 9],1,2);


        //var scoers = [56, 58, 58, 75, 41, 39, 85, 95, 81, 79]
        //for (var i = 0; i < scoers.length - 1; i++) {
        //    for (var j = 0; j < scoers.length - 1 - i; j++) {
        //        if (scoers[j] > scoers[j + 1]) {
        //            tem = scoers[j];
        //            scoers[j] = scoers[j + 1];
        //            scoers[j + 1] = tem;
        //        }
        //    }
        //}



        //for (var x = 2; x < 100; x++) {
        //    for (var i = 2; i < x; i++) {
        //        if (x % i === 0) {
        //            //console.log(x + '不是素数');
        //            break;
        //        }
        //        else {
        //            if (i === x - 1) {
        //                console.log(x + '是素数');
        //            }
        //        }
        //    }
        //}




        //var students = new Array();
        //var students = ["彭志强", "于维谦", "兴龙泰", "薛明林", "陈百万", "杨进文", "王新", "陈小丁", "陈晨"];
        //var math = students.unshift("小余老师");
        //var math = students.push('大飞哥');
        //console.log(students, students.length);

//        var current = `There are two ways to create a RegExp object : 
//a literal notation and a constructor. To indicate strings , 
//the parameters to the literal notation do not use quotation marks 
//while the parameters to the constructor function do use quotation-marks. 
//So the following expressions create the same regular expression`;


//        function getup(current, cute) {
//            var counter = 0;
//            for (var i = 0; i < current.length; i++) {
//                if (cute === current.substring(i, i + cute.length)) {
//                    counter++;
//                } else {
//                    //继续
//                }
//            }
//            return counter;
//        }
//        console.log(getup(current,'the'));



    </script>



</body>
</html>









