@page
<html>
<head>


    <script type="text/javascript"></script>

    <script src="~/js/homework.js"></script>

</head>
<body>
    <p id="demo"></p>
    <script>
        //利用JavaScript计算出：[(23+7)x12-8]÷6的值
        // console.log([(23 + 7) * 12 - 8] / 6);

        //用循环，计算出2+4+6+8+...+100=?


        //var i = 0, j = 0;
        //while (j < 100) {
        //    j = j + 2;
        //    i = i + j;

        //}
        //console.log(i);

        sum(160);
        findPrime(50);

        getMaxNumber(89, -8, 5.6, '源栈');


        //var scoers = [56, 58, 58, 75, 41, 39, 85, 95, 81, 79]
        //for (var i = 0; i < scoers.length - 1; i++) {
        //    for (var j = 0; j < scoers.length - 1 - i; j++) {
        //        if (scoers[j] > scoers[j + 1]) {
        //            tem = scoers[j];
        //            scoers[j] = scoers[j + 1];
        //            scoers[j + 1] = tem;
        //        }
        //    }
        //}



        //for (var x = 2; x < 100; x++) {
        //    for (var i = 2; i < x; i++) {
        //        if (x % i === 0) {
        //            //console.log(x + '不是素数');
        //            break;
        //        }
        //        else {
        //            if (i === x - 1) {
        //                console.log(x + '是素数');
        //            }
        //        }
        //    }
        //}
        
        
        





        
        
        
    </script>



</body>
</html>









